/*--------------------------------------------------------------
# Data
--------------------------------------------------------------*/
.data h2 {
  color: olivedrab;
}
.data .data-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(106, 142, 35, 0.05);
}

.data .data-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.data .data-box h3 {
  color: black;
  font-weight: 700;
}

.data .data-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.data .data-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.data .data-box {
  border-bottom: 3px solid rgba(184, 134, 11, 0.5);
}

.data .data-box .icon {
  color: rgba(184, 134, 11, 0.5);
  background: rgba(252, 219, 137, 0.1);
}

.data .data-box:hover {
  background: rgba(184, 134, 11, 0.5);
}

/*--------------------------------------------------------------
  # Data Analysis
  --------------------------------------------------------------*/
.data-Analysis h2 {
  color: olivedrab;
}
.data-Analysis .data-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgba(106, 142, 35, 0.05);
}

.data-Analysis .data-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.data-Analysis .data-box h3 {
  color: black;
  font-weight: 700;
}

.data-Analysis .data-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.data-Analysis .data-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.data-Analysis .data-box {
  border-bottom: 3px solid rgba(184, 134, 11, 0.5);
}

.data-Analysis .data-box .icon {
  color: rgba(184, 134, 11, 0.5);
  background: rgba(252, 219, 137, 0.1);
}

.data-Analysis .data-box .read-more {
  color: black;
  font-style: italic;
  background: rgba(184, 134, 11, 0.2);
  border-radius: 4px;
}

.data-Analysis .data-box:hover {
  background: rgba(184, 134, 11, 0.5);
}

/* 
.data-Analysis .data-box:hover h3,
.data-Analysis .data-box:hover p,
.data-Analysis .data-box:hover .read-more 
{
  color: #fff;
}

.data-Analysis .data-box:hover .icon {
  background: #fff;
} */
