/*--------------------------------------------------------------
# scan
--------------------------------------------------------------*/
.scan .content {
  background-color: rgba(106, 142, 35, 0.05);
  padding: 40px;
  border-radius: 40px;
}

.scan h3 {
  font-size: 14px;
  font-weight: 700;
  color: olivedrab;
  text-transform: uppercase;
}

.scan h2 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(5, 79, 3);
}

.scan p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.scan .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: rgb(5, 79, 3);
  box-shadow: 0px 5px 30px rgba(5, 79, 3, 0.4);
}

.scan .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.scan .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.scan .btn-read-more:hover i {
  transform: translateX(5px);
}
